<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="capsule-2">



    <header class="d-header">

        <div class="logo">
            <img src="images/logo/logo-v.png" class="img-logo">
        </div>

            <div class="menu">

                <ul>
                    <a href="index.html">     <li>  <div class="icon"><img src="images/menu-icon/enter-pin.png" class="img-icon" alt=""> </div>    Enter Pin  </a></li>
                    <a href="discover.html">    <li>  <div class="icon"><img src="images/menu-icon/discover.png" class="img-icon" alt=""> </div>    Discover  </a></li>
                    <a href="quiz.html">  <li>  <div class="icon">  <img src="images/menu-icon/create.png" class="img-icon" alt=""> </div>   Create  </a></li>

                    <li class="li-icon"> <a href="home.html" ><img src="images/menu-icon/profil.png" class="img-icon" alt="">  </a>  </li>

                    <li> <a href="#" ><img src="images/menu-icon/settings.png" class="img-icon" alt="">  </a>  </li>

                </ul>

            </div>

    </header>


    <div class="discover-menu">

        <ul>
            <li><a class="active" href="#"> History </a></li>
            <li><a href="#"> Match </a></li>
            <li><a href="#"> Science </a></li>
            <li><a href="#"> Art </a></li>
            <li><a href="#"> Literature </a></li>
            <li><a href="#"> Trivia </a></li>


        </ul>

    </div>


    <div class="discover-trend">
        <div class="discover-trend-in">
            <div class="discover-title">
                <span class="spn-discover-title">Trending</span>

                <span> <a href="#">  See All   </a></span>
            </div>


            <div class="discover-trend-bottom">


                    <div class="discover-trend-block">
                            <img src="images/sago.jpg" alt="">
        
                            <div class="discover-block-text">
        
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
        
                                <div class="discover-owner">
        
                                    burakaydin <img src="images/sago.jpg" alt="">
        
                                </div>
                            </div>
                        </div>

                        
                
                        
                           

                                    <div class="discover-trend-block">
                                            <img src="images/sago.jpg" alt="">
                        
                                            <div class="discover-block-text">
                        
                                                <span class="spn-discover">Gerunds </span>
                                                <span class="spn-discover-2"> 32 Quuestions</span>
                        
                                                <div class="discover-owner">
                        
                                                    burakaydin <img src="images/sago.jpg" alt="">
                        
                                                </div>
                                            </div>
                                        </div>

                                        
                                    <div class="discover-trend-block">
                                            <img src="images/sago.jpg" alt="">
                        
                                            <div class="discover-block-text">
                        
                                                <span class="spn-discover">Gerunds </span>
                                                <span class="spn-discover-2"> 32 Quuestions</span>
                        
                                                <div class="discover-owner">
                        
                                                    burakaydin <img src="images/sago.jpg" alt="">
                        
                                                </div>
                                            </div>
                                        </div>
                        

                                        
                                    <div class="discover-trend-block">
                                            <img src="images/sago.jpg" alt="">
                        
                                            <div class="discover-block-text">
                        
                                                <span class="spn-discover">Gerunds </span>
                                                <span class="spn-discover-2"> 32 Quuestions</span>
                        
                                                <div class="discover-owner">
                        
                                                    burakaydin <img src="images/sago.jpg" alt="">
                        
                                                </div>
                                            </div>
                                        </div>
                        
                                        
                                    <div class="discover-trend-block">
                                            <img src="images/sago.jpg" alt="">
                        
                                            <div class="discover-block-text">
                        
                                                <span class="spn-discover">Gerunds </span>
                                                <span class="spn-discover-2"> 32 Quuestions</span>
                        
                                                <div class="discover-owner">
                        
                                                    burakaydin <img src="images/sago.jpg" alt="">
                        
                                                </div>
                                            </div>
                                        </div>
                        
                        
                    

            </div>
        </div>
    </div>


    <div class="discover-quizs">
        <div class="discover-quizs-title">
            <h3>Quizs</h3>
        </div>

        <div class="discover-quizs-bottom">


                        <div class="discover-quizs-block">

                                <img src="images/sago.jpg" alt="">
                
                                <div class="discover-quizs-text">
                                    <span class="spn-discover-quizs">Gerunds</span>
                                    <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                
                                    <div class="discover-owner-quizs">
                                        burakaydin <img src="images/sago.jpg" alt="">
                                    </div>
                
                                </div>
                            </div>


                            <div class="discover-quizs-block">

                                    <img src="images/sago.jpg" alt="">
                    
                                    <div class="discover-quizs-text">
                                        <span class="spn-discover-quizs">Gerunds</span>
                                        <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                    
                                        <div class="discover-owner-quizs">
                                            burakaydin <img src="images/sago.jpg" alt="">
                                        </div>
                    
                                    </div>
                                </div>

                                
                                <div class="discover-quizs-block">

                                        <img src="images/sago.jpg" alt="">
                        
                                        <div class="discover-quizs-text">
                                            <span class="spn-discover-quizs">Gerunds</span>
                                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                        
                                            <div class="discover-owner-quizs">
                                                burakaydin <img src="images/sago.jpg" alt="">
                                            </div>
                        
                                        </div>
                                    </div>

                                    
                                    <div class="discover-quizs-block">

                                            <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                            
                                            <div class="discover-quizs-text">
                                                <span class="spn-discover-quizs">Gerunds</span>
                                                <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            
                                                <div class="discover-owner-quizs">
                                                    burakaydin <img src="images/sago.jpg" alt="">
                                                </div>
                            
                                            </div>
                                        </div>

                                        <div class="discover-quizs-block">

                                                <img src="images/sago.jpg" alt="">
                                
                                                <div class="discover-quizs-text">
                                                    <span class="spn-discover-quizs">Gerunds</span>
                                                    <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                                
                                                    <div class="discover-owner-quizs">
                                                        burakaydin <img src="images/sago.jpg" alt="">
                                                    </div>
                                
                                                </div>
                                            </div>

                                            <div class="discover-quizs-block">

                                                    <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                                    
                                                    <div class="discover-quizs-text">
                                                        <span class="spn-discover-quizs">Gerunds</span>
                                                        <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                                    
                                                        <div class="discover-owner-quizs">
                                                            burakaydin <img src="images/sago.jpg" alt="">
                                                        </div>
                                    
                                                    </div>
                                                </div>
        
            
            
                


        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/slick.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>