<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="capsule-2">


        <a href="#" class="mobil-profil">Profil</a>

        <header>

            <div class="logo">
                <img src="images/logo/logo-v.png" class="img-logo">
            </div>

            <div class="menu">

                <ul>
                    <a href="index.html">
                        <li>
                            <div class="icon"><img src="images/menu-icon/enter-pin.png" class="img-icon" alt=""> </div>
                            Enter Pin
                    </li></a>
                    <a href="discover.html">
                        <li>
                            <div class="icon"><img src="images/menu-icon/discover.png" class="img-icon" alt=""> </div>
                            Discover
                    </li></a>
                    <a href="quiz.html">
                        <li>
                            <div class="icon"> <img src="images/menu-icon/create.png" class="img-icon" alt=""> </div>
                            Create
                   </li> </a>

                    <li class="li-icon"> <a href="home.html"><img src="images/menu-icon/profil.png" class="img-icon"
                                alt=""> </a> </li>

                    <li> <a href="#"><img src="images/menu-icon/logout.png" class="img-icon" alt=""> </a>


                    </li>

                </ul>

            </div>

        </header>

        <div class="content">

            <div class="content-profil" id="profil">

                <a href="#" class="profil-close">
                    <img src="images/quiz/cancel.png" alt="">
                </a>


                <div class="profil-top">
                    <div class="profil-img">
                        <img src="images/user/Oval.png" class="img-profil" alt="">
                    </div>

                    <div class="profil-name">

                        <h6 class="h6">Yüsra Topçuoğlu <a href="#"><img src="images/user-icon/edit.png" class="img-edit"
                                    alt="Edit"> </a> </h6>

                        <h6 class="h6-mail"> Ytopcu </h6>
                    </div>

                </div>



                <div class="profil-bottom">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="profil-information-left">
                                <div>Quiz Created </div>
                                <div> </div>
                            </div>

                        </div>

                        <div class="col-lg-12">

                            <div class=" profil-information-right">
                                <div> Hosted Games </div>
                                <div> 1 </div>

                            </div>
                        </div>



                    </div>

                </div>


            </div>

            <div class="content-right">
                <div class="content-menu">
                    <ul>
                        <li><a class="active" href="#">My Quiz</a></li>

                    </ul>
                </div>


                <div data-toggle="modal" data-target=".bd-example-modal-lg" class="my-quiz">
                    <div class="my-quiz-img">
                        <img src="images/quiz/quiz.png" class="img-quiz" alt="">
                    </div>

                    <div class="my-quiz-name">
                        Gerunds
                    </div>

                    <div class="my-quiz-question">
                        15 Question
                    </div>

                </div>


                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">


                        <div class="modal-content">


                            <div class="container-fluid">
                                <div class="row">

                                    <div class="col-xl-6 modal-left">
                                        <img src="images/thumb-1920-943148.jpg" class="img-modal" alt="">
                                    </div>

                                    <div class="col-xl-6 modal-right">

                                        <h4 class="h4 modal-h4">Gerunds</h4>

                                        <div class="modal-user">

                                            <img src="images/user/Oval2.png" class="img-user-modal" alt="">

                                            <div class="modal-name">
                                                sytopcu
                                            </div>

                                            <div class="modal-star">
                                                <img src="images/quiz/edit.png" alt="" class="img-delete">

                                                <img src="images/quiz/delete.png" class="img-delete" alt="Delete">
                                            </div>

                                        </div>

                                        <h5 class="h5-subtitle">Description</h5>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl
                                            metus, sagittis vitae luctus malesuada, tincidunt ac ligula. Integer mattis
                                            volutpat lacinia. Nunc at dui auctor, Nunc ac nunc venenatis, pulvinar quam
                                            et, aliquam mauris.

                                        </p>

                                        <div class="modal-start">

                                            <a href="#" class="btn-play">Play</a>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="my-quiz">

                    <div class="my-quiz-img">
                        <img src="images/resim-tablo-nasil-okunur.jpg" class="img-quiz" alt="">





                    </div>

                    <div class="my-quiz-name">
                        Gerunds
                    </div>

                </div>

                <div class="my-quiz">

                    <div class="my-quiz-img">
                        <img src="images/sago.jpg" class="img-quiz" alt="">


                    </div>

                    <div class="my-quiz-name">
                        Gerunds
                    </div>

                </div>

            </div>

        </div>

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/slick.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>