<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

        
    <div class="figure">

        </div>
        <div class="figure-2">
    
        </div>
    
        <div class="capsule">
    
    <div class="profile-edit-close">
      <img src="images/quiz/cancel.png" alt="">
    </div>
        
            <div class="container p-edit">
             
    
    
                  
                <div class="col-lg-6 p-edit-capsule">

                    <div class="user-logo p-edit-logo">
                        <img src="images/logo/logo-w.png" class="img-user-logo" alt="Quiz">
                    </div>
                    <div class="signup-text">
                     Profile Edit
                    </div>
  
  
                    <div class="p-edit-in">
  
                      <form action="." method="POST"> 
                          <div class="profil-avatar">

                              <label class="lbl-file-profil" for="profil"> Tap to add cover profil images    <img src="" alt="">  </label>  
        
                              <input class="fileupload-profil" type="file" name="fileToUpload" id="profil"> 
                            </div>
                       <div class="user-name">
                          <input type="text" class="txt-username" placeholder="First Name" >
  
                          <input type="text" class="txt-username" placeholder="Last Name" >
                       </div>
                       <input type="text" class="txt-signup" placeholder="User Name"   >
  
                      <input type="email" class="txt-signup" placeholder="E-Mail"   >
  
                      <input type="password" class="txt-signup" placeholder="Password" >

                      <input type="password" class="txt-signup" placeholder="New Password" >

                    
                        
                      <div class="login-error sign-err">
                          Hata mesajı
                        </div>

                        <div class="login-succes sign-err">
                            Başarılı
                          </div>
  
                      <div class="sign-button">
  
                          <button type="submit" class="btn-sign save">Save</button>
                      </div>
                        </form>
  
  
                    </div>
  
                    </div>
                      </div>
    
                 
    
                
            </div>
          </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>