<div class="capsule-2">
    <header class="d-header">
        <div class="logo">
            <img src="images/logo/logo-v.png" class="img-logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">
                        <div class="icon"><img src="images/menu-icon/enter-pin.png" class="img-icon" alt=""> </div>
                        Enter Pin
                    </a></li>
                <li><a href="discover">
                        <div class="icon"><img src="images/menu-icon/discover.png" class="img-icon" alt=""> </div>
                        Discover
                    </a></li>
                <li><a href="quiz">
                        <div class="icon"> <img src="images/menu-icon/create.png" class="img-icon" alt=""> </div> Create
                    </a></li>
                <li class="li-icon"> <a href="home"><img src="images/menu-icon/profil.png" class="img-icon" alt="">
                    </a> </li>
                <li> <a href="#"><img src="images/menu-icon/settings.png" class="img-icon" alt=""> </a> </li>
            </ul>
        </div>
    </header>
    <div class="discover-menu">
        <ul>
            <li><a class="active" href="#"> History </a></li>
            <li><a href="#"> Match </a></li>
            <li><a href="#"> Science </a></li>
            <li><a href="#"> Art </a></li>
            <li><a href="#"> Literature </a></li>
            <li><a href="#"> Trivia </a></li>
        </ul>
    </div>
    <div class="discover-trend">
        <div class="discover-trend-in">
            <div class="discover-title">
                <span class="spn-discover-title">Trending</span>
                <span> <a href="#"> See All </a></span>
            </div>
            <div class="discover-trend-bottom slick-initialized slick-slider"><button class="slick-prev slick-arrow"
                    aria-label="Previous" type="button" style="">Previous</button>
                <div class="slick-list draggable">
                    <div class="slick-track"
                        style="opacity: 1; width: 25000px; transform: translate3d(-275px, 0px, 0px);">
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="-1" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                     
                        <div class="discover-trend-block slick-slide" tabindex="-1" style="" data-slick-index="1"
                            aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide" tabindex="-1" style="" data-slick-index="2"
                            aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide" tabindex="-1" style="" data-slick-index="3"
                            aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide" tabindex="-1" style="" data-slick-index="4"
                            aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="5" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="6" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="7" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="8" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="discover-trend-block slick-slide slick-cloned" tabindex="-1" style=""
                            data-slick-index="9" aria-hidden="true">
                            <img src="images/sago.jpg" alt="">
                            <div class="discover-block-text">
                                <span class="spn-discover">Gerunds </span>
                                <span class="spn-discover-2"> 32 Quuestions</span>
                                <div class="discover-owner">
                                    burakaydin <img src="images/sago.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
            </div>
        </div>
    </div>
    <div class="discover-quizs">
        <div class="discover-quizs-title">
            <h3>Quizs</h3>
        </div>
        <div class="discover-quizs-bottom slick-initialized slick-slider"><button class="slick-prev slick-arrow"
                aria-label="Previous" type="button" style="">Previous</button>
            <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 8944px; transform: translate3d(-688px, 0px, 0px);">
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="-1" aria-hidden="true">
                        <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-current slick-active" tabindex="0"
                        style="width: 668px;" data-slick-index="0" aria-hidden="false">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide" tabindex="-1" style="width: 668px;"
                        data-slick-index="1" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide" tabindex="-1" style="width: 668px;"
                        data-slick-index="2" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide" tabindex="-1" style="width: 668px;"
                        data-slick-index="3" aria-hidden="true">
                        <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide" tabindex="-1" style="width: 668px;"
                        data-slick-index="4" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide" tabindex="-1" style="width: 668px;"
                        data-slick-index="5" aria-hidden="true">
                        <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="6" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="7" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="8" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="9" aria-hidden="true">
                        <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="10" aria-hidden="true">
                        <img src="images/sago.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="discover-quizs-block slick-slide slick-cloned" tabindex="-1" style="width: 668px;"
                        data-slick-index="11" aria-hidden="true">
                        <img src="images/resim-tablo-nasil-okunur.jpg" alt="">
                        <div class="discover-quizs-text">
                            <span class="spn-discover-quizs">Gerunds</span>
                            <span class="spn-discover-2-quizs"> 32 Quuestions</span>
                            <div class="discover-owner-quizs">
                                burakaydin <img src="images/sago.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
        </div>
    </div>
</div>
<script src="javascripts/main.js"></script>
<script src="javascripts/slick.min.js"></script>