<div class="figure">
</div>
<div class="figure-2">
</div>
<div class="capsule">
    <header class="quiz-header">
        <div class="quiz-logo">
            <a href="/home">
                <img src="images/logo/logo-w.png" class="img-quiz-logo" alt="Logo White">
            </a>
        </div>
    </header>
    <div class="capsule error-capsule">
        <div class="error-404">
            <img src="images/error/error.png" alt="Error">
        </div>
    </div>
</div>