<div id="Content">
    {{{body}}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io.connect("http://localhost:3000/game");
    var url_string = window.location.href;
    var url = new URL(url_string);
    var pin = url.searchParams.get("pin");
    function emit() {
        socket.emit("start-the-game", { p: pin });
    }
    $(function () {
        socket.emit('enter-lobby', pin);
    });
    socket.on('render-content', (data) => {
        commands[data.command](data);
    })
</script>
<script src="javascripts/Do.js"></script>