<div class="capsule-2">
    <a href="#" class="mobil-profil">Profil</a>
    <header>
        <div class="logo">
            <img src="images/logo/logo-v.png" class="img-logo">
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">
                        <div class="icon"><img src="images/menu-icon/enter-pin.png" class="img-icon" alt=""> </div>
                        Enter Pin
                    </a>
                </li>
                <li>
                    <a href="/discover">
                        <div class="icon"><img src="images/menu-icon/discover.png" class="img-icon" alt=""> </div>
                        Discover
                    </a>
                </li>
                <li>
                    <a href="/quiz">
                        <div class="icon"> <img src="images/menu-icon/create.png" class="img-icon" alt=""> </div>
                        Create
                    </a>
                </li>
                <li class="li-icon">
                    <a href="/home"><img src="images/menu-icon/profil.png" class="img-icon" alt="">
                    </a>
                </li>
                <li>
                    <a href="/edit"><img src="images/menu-icon/settings.png" class="img-icon" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="content-profil" id="profil">
            <a href="#" class="profil-close">
                <img src="images/quiz/cancel.png" alt="">
            </a>
            <div class="profil-top">
                <div class="profil-img">
                    <img src="images/user/Oval.png" class="img-profil" alt="">
                </div>
                <div class="profil-name">
                    <h6 class="h6">Yüsra Topçuoğlu <a href="#"><img src="images/user-icon/edit.png" class="img-edit"
                                alt="Edit"> </a> </h6>
                    <h6 class="h6-mail"> Ytopcu </h6>
                </div>
            </div>
            <div class="profil-bottom">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profil-information-left">
                            <div>Quiz Created </div>
                            <div> 1 </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class=" profil-information-right">
                            <div> Hosted Games </div>
                            <div> 1 </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="profil-capsule">
                            <div>Challenges Played </div>
                            <div>1</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="profil-capsule">
                            <div>Live Games Played </div>
                            <div>1</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <div class="content-menu">
                <ul>
                    <li><a class="active" href="#">My Quiz</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="#">Latest</a></li>
                </ul>
            </div>
            <div data-toggle="modal" data-target=".bd-example-modal-lg" class="my-quiz">
                <div class="my-quiz-img">
                    <img src="images/quiz/quiz.png" class="img-quiz" alt="">
                </div>
                <div class="my-quiz-name">
                    Gerunds
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 modal-left">
                                    <img src="images/thumb-1920-943148.jpg" class="img-modal" alt="">
                                </div>
                                <div class="col-lg-6 modal-right">
                                    <h4 class="h4 modal-h4">Gerunds</h4>
                                    <div class="modal-user">
                                        <img src="images/user/Oval2.png" class="img-user-modal" alt="">
                                        <div class="modal-name">
                                            sytopcu
                                        </div>
                                        <div class="modal-star">
                                            <img src="images/quiz/star.png" alt="" class="img-star">
                                            <img src="images/quiz/dot.png" class="img-dot" alt="">
                                        </div>
                                    </div>
                                    <h5 class="h5-subtitle">Description</h5>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl
                                        metus, sagittis vitae luctus malesuada, tincidunt ac ligula. Integer mattis
                                        volutpat lacinia. Nunc at dui auctor, Nunc ac nunc venenatis, pulvinar quam et,
                                        aliquam mauris.
                                    </p>
                                    <button type="button" class="btn-play">Play</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-quiz">
                <div class="my-quiz-img">
                    <img src="images/quiz/quiz.png" class="img-quiz" alt="">
                </div>
                <div class="my-quiz-name">
                    Gerunds
                </div>
            </div>
            <div class="my-quiz">
                <div class="my-quiz-img">
                    <img src="images/quiz/quiz.png" class="img-quiz" alt="">
                </div>
                <div class="my-quiz-name">
                    Gerunds
                </div>
            </div>
        </div>
    </div>
</div>