<div class="figure">
</div>
<div class="figure-2">
</div>

<div class="capsule">
    <div class="pin">
        <form method="POST" action=".">
            <div class="pin-logo">
                <img src="images/logo/logo-w.png" class="img-pin-logo" alt="">
            </div>
            <div class="pin-text">
                <input required="" name="pin" type="text" class="txt-pin" placeholder="Game Pin">
            </div>
            <div class="pin-button">
                <button type="submit" class="btn-pin">Enter</button>
            </div>
        </form>
    </div>
    <div class="a-pin">
        <a href="user.html">Login or Register</a>
    </div>
</div>