<div class="figure">

</div>
<div class="figure-2">

</div>

<div class="container pin">

    <div class="pin-logo">
        <img src="images/logo/logo-w.png" class=img-pin-logo alt="">
    </div>

    <form action="." method="POST" autocomplete="off">
        <div class="pin-text">
            <input id="index_pin" name="pin" type="text" class="txt-pin" placeholder="Game Pin">
        </div>

        <div class="pin-button">
            <button type="submit" class="btn-pin">Enter</button>
        </div>
    </form>

    <div class="a">
        <a href="user.html">Login or Register</a>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io();
        socket.emit('getname');
        socket.on('recieve-name', (name) => {
            socket.nickname = name;
        });
    });
</script>