<div class="figure">

</div>
<div class="figure-2">

</div>

<div class="container pin">

    <div class="pin-logo">
        <img src="images/logo/logo.png" class=img-pin-logo alt="">
    </div>

    <div class="pin-text">
        <input id="index_pin" type="text" class="txt-pin" placeholder="Game Pin">
    </div>

    <div class="pin-button">
        <button type="button" class="btn-pin">Enter</button>
    </div>

    <div class="a">

        <a href="user.html">Login or Register</a>
    </div>



</div>


<script src="/javascripts/indexController.js"></script>
<script src="/javascripts/indexjs.js"></script>