<div class="container players-content">

    <div class="players-top">

        123456


    </div>

    <div class="players-bottom">
        {{#each items}}
        <div>{{this.name}}</div>
        {{/each}}
    </div>


</div>

<div class="container-fluid players-start">
    <div class="players-number">
        20 <br> Players
    </div>
    <div class="button-start">
        <button class="btn-start" type="button">Start</button>

    </div>
</div>