<div class="figure">

</div>
<div class="figure-2">

</div>
<div class="container user">
  <div class="logo">
    <img src="/images/logo/logo-w.png" class="img-logo" alt="Quiz">
  </div>

  <div class="container user-in">
    <div class="row">

      <div class="col-lg-6 login">

        <div class="login-text">
          Log In
        </div>

        <div class="login-in">

          <!-- textarea -->
          <div class="login-input">

            <div class="login-img">
              <img src="/images/user-icon/user.png" class="img-user" alt="">
            </div>

            <div class="login-textarea">
              <input id="signin_username" type="text" placeholder="User Name" class="txt-user">
            </div>

          </div>
          <!-- textarea -->

          <div class="login-password-input">

            <div class="login-img">
              <img src="/images/user-icon/password.png" class="img-password" alt="">
            </div>

            <div class="login-textarea">
              <input id="signin_password" type="password" placeholder="Password" class="txt-password">
            </div>

          </div>

          <div class="login-button">

            <button type="button" class="btn-login" onclick="LoginPost()">Enter</button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 signup">
        <div class="signup-text">
          Sign Up
        </div>


        <div class="signup-in">

          <input id="signup_username" type="text" class="txt-signup" placeholder="User Name">

          <input id="signup_email" type="email" class="txt-signup" placeholder="E-Mail">

          <input id="signup_password" type="password" class="txt-signup" placeholder="Password">


          <div class="sign-button">

            <button id="btn_signup" type="button" class="btn-sign" onclick="RegisterPost()">Sign Up</button>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
<script src="javascripts/userjs.js"></script>