<div class="figure">
</div>
<div class="figure-2">
</div>
<div class="capsule">
  <div class="container user">
    <div class="user-logo">
      <a href="/">
        <img src="images/logo/logo-w.png" class="img-user-logo" alt="Quiz">
      </a>
    </div>
    <div class="row">
      <div class="col-lg-6 login">
        <div class="login-text">
          Log In
        </div>
        <div class="login-in">
          <form action="/users/login" method="POST">
            <div class="login-input">
              <div class="login-img">
                <img src="images/user-icon/user.png" class="img-user" alt="">
              </div>
              <div class="login-textarea">
                <input name="username" type="text" placeholder="User Name" class="txt-user">
              </div>
            </div>
            <div class="login-password-input">
              <div class="login-img">
                <img src="images/user-icon/password.png" class="img-password" alt="">
              </div>
              <div class="login-textarea">
                <input name="password" type="password" placeholder="Password" class="txt-password">
              </div>
            </div>
            {{#if LoginError}}
            <div class="login-error">
              {{LoginError}}
            </div>
            {{/if}}
            <div class="login-button">
              <button type="submit" class="btn-login">Enter</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 signup">
        <div class="signup-text">
          Sign Up
        </div>
        <div class="signup-in">
          <form action="/users/register" method="POST">
            <div class="user-name">
              <input name="firstname" type="text" class="txt-username" placeholder="First Name">
              <input name="lastname" type="text" class="txt-username" placeholder="Last Name">
            </div>
            <input name="username" type="text" class="txt-signup" placeholder="User Name">
            <input name="email" type="email" class="txt-signup" placeholder="E-Mail">
            <input name="password1" type="password" class="txt-signup" placeholder="Password">
            <input name="password2" type="password" class="txt-signup" placeholder="Confirm Password">
            {{#if RegisterError}}
            <div class="login-error sign-err">
              {{RegisterError}}
            </div>
            {{/if}}
            <div class="sign-button">
              <button type="submit" class="btn-sign">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>