body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/*Profil page*/

h6 {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background: #FFFFFF;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 35px;
}

.img-logo {
    width: 80px;
}

ul {
    margin: 0;
    padding: 0;
}

.menu {
    padding-top: 30px
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    float: left;
}

.li-icon {
    margin-left: 40px;
}

.menu ul li .icon {
    float: left;
    height: auto;
    padding-right: 10px;
    padding-left: 0;
}

.img-icon {
    width: 25px;
}

.menu ul li a {
    color: #333;
    margin-right: 25px;
    position: relative;
    display: block;
    float: left;
    padding: 2px;
    text-decoration: none;
    font-size: 15px;
}

.content {
    min-height: calc(100vh - 98px);
    height: calc(100% - 98px);
    display: flex;
}

.content-profil {
    width: 400px;
    min-height: 100%;
    background: #9B3ADB;
    padding: 15px;
    padding-top: 45px;
    position: sticky;
}

.profil-top {
    display: flex;
}

.profil-img {
    height: auto;
}

.profil-name {
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}

.profil-name .h6 {
    font-size: 24px;
}

.h6-mail {
    font-size: 14px;
}

.img-profil {
    width: 126px;
    height: auto;
    border-radius: 50%;
}

.img-edit {
    width: 18px;
}

.profil-information {
    width: 100%;
    height: 300px;
    border: 1px solid #d5d5d5;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.profil-information-left {
    background: #8A2BC9;
}

.profil-information-right {
    background: #8A2BC9;
}

.profil-bottom {
    height: auto;
    margin-top: 40px;
}

.profil-information-left {
    background: #8A2BC9;
    color: white;
    height: 80px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
    line-height: 80px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.profil-information-right {
    background: #8A2BC9;
    color: white;
    height: 80px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
    line-height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.profil-capsule {
    background: #8A2BC9;
    height: 80px;
    margin-top: 40px;
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.content-right {
    min-height: 100%;
    width: calc(100% - 400px);
    background-color: white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.359976);
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
}

.content-menu ul {
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FBF5F5;
}

.content-menu ul li a {
    color: #928D8D;
    opacity: 0.54;
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
}

.my-quiz {
    margin-top: 40px;
    display: flex;
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.108474);
    border-radius: 41px;
}

.my-quiz-img {
    margin-right: 40px;
}

.img-quiz {
    width: 250px;
    border-radius: 41px;
}

.my-quiz-name {
    color: #626060;
    font-size: 20px;
    padding-top: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*Profil page*/

/*Pin page*/

.pin {
    margin-top: 174px;
}

.pin-logo {
    text-align: center;
    margin-bottom: 74px;
}

.img-pin-logo {
    width: 248.5px;
}

.pin-text {
    text-align: center;
}

.txt-pin {
    width: 508px;
    height: 150px;
    margin: auto;
    text-align: center;
    background: #FFFDFD;
    border-radius: 8px;
    border: 0px solid;
    font-style: normal;
    font-size: 45px;
    color: #333;
    margin-bottom: 45px;
}

.pin-button {
    text-align: center;
}

.btn-pin {
    width: 221px;
    height: 45px;
    background: #FFAA00;
    border: 0px solid;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 139px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
}

.pin .a {
    text-align: center;
}

.pin .a a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .txt-pin {
        width: 100%;
    }
}

/*Pin page*/

/* User page */

.figure {
    width: 652px;
    height: 550px;
    background-color: #b963f1;
    position: fixed;
    left: -15%;
    right: 64.53%;
    top: 70.35%;
    bottom: -10.28%;
    background: #B963F1;
    transform: rotate(45deg);
}

.figure-2 {
    width: 652px;
    height: 550px;
    background-color: #b963f1;
    position: fixed;
    left: 70.82%;
    right: -25.78%;
    top: -45.46%;
    bottom: 94.53%;
    background: #B963F1;
    transform: rotate(45deg);
}

.user {
    height: 500px;
    position: relative;
    margin-top: 134px;
}

.user-logo {
    text-align: center;
    margin-bottom: 64px;
}

.img-user-logo {
    width: 248.5px;
}

.login-text {
    height: 45px;
    width: 176px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 250;
    line-height: 45px;
    margin: auto;
    margin-bottom: 21px;
}

.login-in {
    height: auto;
}

.login-input {
    width: 347px;
    height: 48px;
    background-color: white;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

.login-img {
    width: 19px;
    height: 48px;
    line-height: 48px;
    margin-left: 15px;
}

.img-user {
    width: 19px;
    height: 20px;
}

.login-textarea {
    width: 100%;
}

.txt-user {
    width: 100%;
    height: 48px;
    border: 0px solid;
    padding-left: 15px;
    border-top-right-radius: 8px;
    outline: none;
    border-bottom-right-radius: 8px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 10px
}

.login-password-input {
    width: 347px;
    height: 48px;
    background-color: white;
    margin: auto;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    margin-top: 23px;
}

.img-password {
    width: 19px;
    height: 22px;
}

.txt-password {
    padding-top: 23px;
    padding-bottom: 24px;
    width: 100%;
    height: 48px;
    border: 0px solid;
    padding-left: 15px;
    border-top-right-radius: 8px;
    outline: none;
    border-bottom-right-radius: 8px;
    font-size: 15px;
}

.login-button {
    text-align: center;
    margin-top: 23px;
}

.btn-login {
    background: #FFAA00;
    width: 223px;
    height: 45px;
    border: 0px solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.358801);
    border-radius: 8px;
    font-size: 20px;
    color: white;
}

.signup {
    border-left: 1px solid white;
}

.signup-text {
    width: 230px;
    height: 45px;
    font-style: normal;
    font-weight: 250;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 21px;
}

.signup-in {
    text-align: center;
}

.txt-signup {
    width: 347px;
    height: 48px;
    border-radius: 8px;
    border: 0px solid;
    padding-left: 23px;
    margin: auto;
    outline: none;
    border-bottom-right-radius: 8px;
    font-size: 15px;
    margin-bottom: 23px;
}

.btn-sign {
    background: #24E6E4;
    width: 223px;
    height: 45px;
    border: 0px solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.358801);
    border-radius: 8px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 990px) {
    .signup {
        border: 0px solid;
        border-top: 1px solid white;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .txt-signup {
        width: 100%;
    }
    .login-input {
        width: 100%;
    }
    .login-password-input {
        width: 100%;
    }
}

/* User Page */

/*quiz page*/

.quiz-header {
    height: 100px;
    background-color: #9B3ADB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.359976);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.quiz-logo {
    width: 70px;
    height: auto;
    margin: auto;
}

.img-quiz-logo {
    width: 70px;
}

.quiz-content {
    padding: 0px;
    width: 100%;
    display: flex;
}

.quiz-image {
    overflow: hidden;
    width: 700px;
    height: 500px;
    border-radius: 30px;
    color: #CAC4C4;
    font-style: normal;
    font-weight: 500;
    background: #FCFBFB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-image img {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.quiz-right {
    width: calc(100% - 700px);
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 100px;
}


.txt-title{
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.21);
    border: 0px solid;
    color: gray;
    border-radius: 12px;
    outline: none;
    padding-left: 15px;
    margin-top: 40px;
}
.txt-description{
    margin-top: 40px;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    border: 0px solid;
    border-radius: 12px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.21);
    color: gray;
    outline: none;
}

/*selectbox*/

.select-box {
    margin-right: 30px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: 170px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #DEDEDE;
    border-radius: 12px;
}

.select-box:after {
    content: "";
    position: absolute;
    top: 15px;
    z-index: 1;
    right: 10px;
    width: 23px;
    height: 12px;
    background: url(../images/quiz/arrow-point-to-right.png) no-repeat center center;
}

.select-box::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 3px;
    width: 30px;
    height: 19px;
    background: url(../images/quiz/view.png) no-repeat center center;
}

.select-box select {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: gray;
    padding-left: 35px;
    outline: 0;
}

select::-ms-expand {
    display: none;
}

.select-box-2:after {
    content: "";
    position: absolute;
    top: 15px;
    z-index: 1;
    right: 10px;
    width: 23px;
    height: 12px;
    background: url(../images/quiz/arrow-point-to-right.png) no-repeat center center;
}

.select-box-2::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 3px;
    width: 30px;
    height: 19px;
    background: url(../images/quiz/location.png) no-repeat center center;
}

.select-box-3:after {
    content: "";
    position: absolute;
    top: 15px;
    z-index: 1;
    right: 10px;
    width: 23px;
    height: 12px;
    background: url(../images/quiz/arrow-point-to-right.png) no-repeat center center;
}

.select-box-3::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 7px;
    width: 22px;
    height: 22px;
    background: url(../images/quiz/planet-earth.png) no-repeat center center;
}
.quiz-enter-button{
text-align: center;
}
.btn-quiz-enter{
    width: 200px;
    height: 50px;
    border:0px solid;
    color: white;
    background-color: #ffaa00;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.359976);
    border-radius: 10px;
}
/*Selectbox*/

/*quiz page*/