body{
    background: #9b3adb;
    overflow: hidden;
}
.pin {
    margin-top: 174px;
}

.pin-logo {
    text-align: center;
    margin-bottom: 74px;
}

.img-pin-logo {
    width: 248.5px;
}

.pin-text {
    text-align: center;
}

.txt-pin {
    width: 508px;
    height: 150px;
    margin: auto;
    text-align: center;
    background: #FFFDFD;
    border-radius: 8px;
    border: 0px solid;
    font-style: normal;
    font-size: 45px;
    color: #333;
    margin-bottom: 45px;
}

.pin-button {
    text-align: center;
}

.btn-pin {
    width: 221px;
    height: 45px;
    background: #FFAA00;
    border: 0px solid;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 139px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
}

.pin .a {
    text-align: center;
}

.pin .a a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

@media only screen and (max-width: 500px) {
    .txt-pin {
        width: 100%;
    }
}