<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/user.css">
  </head>
  <body>
  
    <div class="figure">

    </div>
    <div class="figure-2">

    </div>

    
        <div class="container user">
            <div class="user-logo">
                <img src="images/logo/logo.png" class="img-user-logo" alt="Quiz">
            </div>

        
              <div class="row">

                <div class="col-lg-6 login">
                  
                  <div class="login-text">
                    Log In
                  </div>

                  <div class="login-in">

                      <!-- textarea -->
                    <div class="login-input">

                      <div class="login-img">
                        <img src="images/user-icon/user.png" class="img-user" alt="">
                      </div>

                      <div class="login-textarea">
                        <input type="text" placeholder="User Name" class="txt-user">
                      </div>

                    </div>
                     <!-- textarea -->

                       <div class="login-password-input">

                      <div class="login-img">
                        <img src="images/user-icon/password.png" class="img-password" alt="">
                      </div>

                      <div class="login-textarea">
                        <input type="password" placeholder="Password" class="txt-password">
                      </div>

                    </div>

                    <div class="login-button">

                        <button type="button" class="btn-login">Enter</button>
                    </div>

                  </div>

                </div>

                <div class="col-lg-6 signup">
                  <div class="signup-text">
                    Sign Up
                  </div>


                  <div class="signup-in">

                    <input type="text" class="txt-signup" placeholder="User Name" >

                    <input type="text" class="txt-signup" placeholder="E-Mail" >

                    <input type="password" class="txt-signup" placeholder="Password" >


                    <div class="sign-button">

                        <button type="button" class="btn-sign">Sign Up</button>
                    </div>

                  </div>

                  </div>

              </div>

            
        </div>


      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>